.talk li img{height:50px !important;width:50px !important;margin:-8px 0 0 -8px;}
.talk li .timestamp{float:right;font-size:11px;font-weight:normal;opacity:0.7;}
.talk li .who{display:block;font-weight:bold;font-size:15px;line-height:18px;}
.talk li .who,.talk li .message{text-align:left;margin:0 0 0 48px;}
.talk li .message{font-size:13px;display:block;}
.talk li.me{background:#99CC00;color:#fff;}.talk li.me img{float:right;margin-right:-8px;margin-left:8px;}
.talk li.me .timestamp{float:left;}
.talk li.me .who,.talk li.me .message{text-align:right;margin:0 48px 0 0;}
